.container{
  background-color: #D9F0B3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
:host{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
  color: #f8faf4;
  text-shadow: 2px 2px #beda87;
}
input{
  margin: 1rem;
  padding: 1rem;
  background-color: #8FAA65;
  font-size: medium;
  color: white;
  border: none;
  border-radius: 1rem;
  box-shadow:inset 0 0 10px #58683e;
}

::placeholder {
  color: #f8faf4;
  opacity: 1; /* Firefox */
}

button{
  margin: 1rem;
  padding: 1rem;
  font-weight: 600;
  color: white;
  font-size: medium;
  background-color: #8FAA65;
  border: none;
  border-radius: 1rem;
  filter: drop-shadow(4px 4px 5px #647746);
}
button:hover
button:active
{
  color:#c7e0a9;
  background-color: #7a9252;
}
button:disabled {
  background-color: #b1d17c;
  filter: opacity(0.5);
}
div{
  display: flex;
  flex-direction: row;
}
p{
  color: white;
}
img{
  // position: absolute;
  margin: 1rem;
  width: 16px;
  height: 16px;
}
dialog{
  background-color: #D9F0B3;
  border-radius: 1rem;
  border: unset;
  margin: auto;
  min-width: 60vw;
}
dialog::backdrop {
  background-color: #58683e;
  backdrop-filter: blur(2px);
}
.loadingMessage{
  margin: 1rem;
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid white;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
