<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Join to simple chat app</h1>
  <input type="text" formControlName="user" placeholder="Enter your nickname(from 2 to 50 characters)">
  @if(isLoadingCheckUsername()){
    <div>
      <div class="loader loadingMessage"></div>
      <p>Loading...</p>
    </div>
   }
   @else if (!isLoadingCheckUsername() && availableName() !==undefined && availableName()) {
    <div class="loadingMessage">
      <p>✓ - Username available</p>
    </div>
   }
   @else if (!isLoadingCheckUsername() && availableName() !==undefined && !availableName()) {
    <div class="loadingMessage">
      <p>X - Username unavailable</p>
    </div>
   }
   <div style="height: 3rem;"></div>
  <button [disabled]="this.form.invalid || !availableName()">JOIN</button>
</form>
