*{
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #8FAA65;
}

::-webkit-scrollbar-thumb {
  background: #59693e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #72864f;
}
